body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eeeeee; }

  #signin .alert {
    margin: 0 auto;
    width: 350px; }
  #signin .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto; }
  #signin .form-signin .checkbox,
  #signin .form-signin .form-signin-heading {
    margin-bottom: 10px; }
  #signin .form-signin .checkbox {
    font-weight: normal; }
  #signin .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px; }
  #signin .form-signin .form-control:focus {
    z-index: 2; }
  #signin .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  #signin .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eeeeee; }

#zone-selection {
  font-size: 30px;
  padding: 15px; }
  #zone-selection .stand {
    height: 50px;
    padding: 15px; }
  #zone-selection .kitchen {
    padding: 60px 0px;
    height: 150px;
    margin: 10px 0; }
  #zone-selection .bar {
    padding: 40px 0;
    height: 100px;
    margin: 10px 0; }
  #zone-selection .btn {
    margin: 10px 0;
    font-size: 40px; }

  #table-area .btn.table-area {
    width: 100%;
    height: 60px;
    padding: 5px;
    margin: 8px 5px; }

  #pos-list .panel-heading {
    font-size: 30px; }
    #pos-list .panel-heading .label-table {
      padding: 0 5px; }
  #pos-list #order-list {
    padding-top: 0; }
  #pos-list .panel-footer {
    font-size: 30px; }
    #pos-list #pos-btn-panel .btn {
      font-size: 20px;
      margin: 5px 13px;
      height: 50px; }

