!!! 5
%html{:lang => "en"}
	%head
		%title Welcome to CodeIgniter
		:css
			::selection{ background-color: #E13300; color: white; }
			::moz-selection{ background-color: #E13300; color: white; }
			::webkit-selection{ background-color: #E13300; color: white; }

			body {
				background-color: #fff;
				margin: 40px;
				font: 13px/20px normal Helvetica, Arial, sans-serif;
				color: #4F5155;
			}

			p.footer{
				text-align: right;
				font-size: 11px;
				border-top: 1px solid #D0D0D0;
				line-height: 32px;
				padding: 0 10px 0 10px;
				margin: 20px 0 0 0;
			}

			a {
				color: #003399;
				background-color: transparent;
				font-weight: normal;
			}

			h1 {
				color: #444;
				background-color: transparent;
				border-bottom: 1px solid #D0D0D0;
				font-size: 19px;
				font-weight: normal;
				margin: 0 0 14px 0;
				padding: 14px 15px 10px 15px;
			}

			code {
				font-family: Consolas, Monaco, Courier New, Courier, monospace;
				font-size: 12px;
				background-color: #f9f9f9;
				border: 1px solid #D0D0D0;
				color: #002166;
				display: block;
				margin: 14px 0 14px 0;
				padding: 12px 10px 12px 10px;
			}

			#container{
				margin: 10px;
				border: 1px solid #D0D0D0;
				-webkit-box-shadow: 0 0 8px #D0D0D0;
			}

			#body{
				margin: 0 15px 0 15px;
			}
	%body
		#container
			%h1
				Welcome to CodeIgniter!
			#body
				%p
					This page is rendered using the HAML Template engine and contains a summary to use SASS css template on your project.
				%p
					If you use the default configuration(see your application/config/config.php for available settings), you SASS assets have to be created in the directory application/assets.
				%p
					If you organize the files in subfolders, the output files will use the same directory structure of your assets path.
				%p
					In the default configuration the SASS parser will create a "css" folder in the root path of your application containing the parsed file.
				%p
					If you would like to edit this page you'll find it located at:
					%code application/views/welcome_message_sass.haml

			%p.footer
				Page rendered in 
				%strong {elapsed_time}
				seconds.
				= (ENVIRONMENT == 'development') ?  'CodeIgniter Version <strong>' . CI_VERSION . '</strong>' : ''